@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@100;300&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open' sans;
    overflow-x: hidden;

}
/* ================Header====================== */
.main-header{
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.main-header__block {
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
}
.main-header__nav ul{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
    list-style: none;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}
.main-header__block a{
    text-decoration: none;
    color: #585b5e;
    transition: .3s;

}
.main-header__block a:hover{
    color: #20befc;
}
.nav__linksl{
    color: #585b5e;
    font-size: 14px;
    font-weight: 200;
}
.main-header__registration a{
    text-decoration: none;
    color: #585b5e;
    font-size: 14px;
    font-weight: 200;
    position: relative;
    right: -200px;
}
.line{
    color: lightgrey;
}

/*============Main page===========*/
.main-page__content1{
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
   margin-left: 150px;
}

.main-page__content1 h1{
    font-weight: bold;
    font-family: Open Sans;
    font-size: 28px;
}

.main-page__content2{
    display: ;
}

.main-page__content2 p{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 11px;
    color: black;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 320px;
}

.login__input{
   margin-left: 300px;
}
.datalist-input{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid darkgray;
    margin-left: 20px;
    transition: .5s;
}
.datalist-input:hover{
    border: 1px solid rgb(51, 172, 253);
}

.ui.checkbox {
    position: relative;
    margin-top: 20px;
    margin-left: 316px ;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
    cursor: pointer;
}

label{
     font-family: Open Sans;
    font-weight: normal;
    font-size: 11px;
    color: black;
}

.button__primary__wide {
    width: 56%;
    margin-left: 320px;
    color: white;
    font-weight: bold;
    background-color: #20befc;
    border-radius: 32px;
    padding: 12px;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
}

.button__primary__wide:hover{
    background: rgb(51, 172, 253);
    color: white;
    cursor: pointer;
}

.main-page__content2__foot p{
    position: relative;
    top: 20px;
    left: 100px;
    font-size: 13px;
    font-family: Open Sans;
    font-weight: 600;
    
}

.main-page__content2__foot a{
    font-family: Open Sans;
    font-size: 13px;
    color: #20befc;
    text-decoration: none;
    transition: all 0.25s;
    cursor: pointer;
    position: relative;
}

.main-page__content2__foot a:hover{
    color: #007bff;
}

.main-page__content2_3 {
    display: flex;
}

.main-page__content3{
    margin-left: 250px;
}

.btn__vk {
    width: 150%;
    border-radius: 12px;
    background-color: #45668E;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__vk p {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding-right: 10px;
    margin-top: 5px;
}

.logos_mail button {
width: 150%;
    border-radius: 12px;
    background-color: #168DE2;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__mail p{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding-right: 10px;
    margin-top: 5px;
}

.logos_gmail button{
    width: 150%;
    border-radius: 12px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(221, 75, 57);
    cursor: pointer;
}

.btn__gmail p{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding-right: 10px;
    margin-top: 5px;
}

.logos_facebook button{
    width: 150%;
    border-radius: 12px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(59, 89, 152);
    cursor: pointer;
}

.btn__facebook p{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding-right: 10px;
    margin-top: 5px;
}

.requiredCaution {
    /* position: relative; */
    width: 99%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #3a343a;
    border: 2px solid #fecb51;
        /* align-items: center; */
}

.requiredCaution-section {
    display: grid;
    grid-template-columns: 51px 1fr;
    /* flex-direction: row; */
}

.requiredCaution__icon {
    margin-left: 0.5px;
    text-align: center;
    width: 47px;
    height: 50px;
    vertical-align: middle;
    /* padding: 8px 0; */
    background-color: #fecb51;
}
/*==========Footer=========*/
.main-footer{
    margin-top: 40px;
    width: 100vw;
}
.footer__contact ul{
    list-style: none;
}
.footer__contact{
    background: #282d31;
    display: flex;
    width: 150vw;
    height: 340px;
}
.contact__logo{
    position: relative;
    left: 200px;
    top: 14%;
}
.contact__links{    
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(3, 205px);
    align-items: stretch;
    position: relative;
    top: 8%;
    left: 24%;
}
.links__col a{
    color: white;
    text-decoration: none;
    line-height: 2.5;
    font-size: 0.95rem;
    font-weight: normal;
}
.links__col a:hover{
    color: #20befc;
}

.footer__log{
    width: 110vw;
    height: 80px;
    background: #1d242c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text{
    color: rgb(143, 143, 143);
    font-size: 14px;
    margin-left: 15px;
}

.footer__icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    position: relative;
    left: -35px;
}
.footer__icons img{

    width: 22px;
}
.footer__icons_item > img {
    filter: brightness(1) invert(1);
}
